@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');

:root {
  --background-color: #ffffff; /* Light blue */
  --text-color: #333333;      /* Dark gray */
  --accent-color: #888888;    /* Muted gray */
  --font-family: 'Spectral', serif;
  --letter-spacing: -0.025rem;
  --font-size: 1em;
  --line-height: 1.75;
  --font-weight: 200;
}



body {
  font-family: 'Spectral', serif;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  transition: color 0.3s;
}

a:hover {
  color: var(--accent-color);
}


:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Spectral', Helvetica, sans-serif;
}
